.background {
  background-image: url('../../assets/background.svg');
  background-repeat: repeat-x;
}

.top-stepper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bill-title {
  width: 100vw;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bill-title-size {
  width: 85%;
  height: 44px;
}

.friend-box {
  margin: auto;
  width: 351px;
  height: Calc(100% - 276px);
  min-height: 200px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.friend-top-row {
  display: flex;
  justify-content: space-evenly;
  border-bottom: #afafaf 1px solid;
  padding-top: 8px;
}

.row {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: space-around;
}

.friend__column-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend__column-title {
  height: 32px;
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #21343a;
}

.all-button {
  min-width: 48px;
  height: 32px;
  margin-bottom: 10px;
}

.select-number {
  width: 28px;
  height: 28px;
  display: flex;
  margin-left: 8px;
  margin-bottom: 10px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.profile-picture-div {
  width: 52px;
  height: 52px;
  margin: 5px;
}

.profile-picture {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.friend-list {
  overflow-x: scroll;
  height: 87%;
}

.friend-list__row {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.friend-list__row.selected {
  background-color: rgba(174, 174, 174, 0.34);
}

.name-box {
  width: 100%;
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: #afafaf solid 1px;
}

.display-name {
  color: #494949
}

.next-button-size {
  width: 122px;
  height: 41px;
  margin-top: 4px;
}

.summary-section {
  bottom: 0;
  width: 100%;
  height: 128px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #00ace1;
}

.summary-section__row {
  display: flex;
  width: 351px;
  justify-content: flex-end;
}

.summary-section__text {
  margin-top: 12px;
  color: white;
  font-size: 1.7em;
  font-weight: 500;
  padding-right: 5%;
}

.summary-section__text--price {
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
}

.owner-symbol {
  width: 36px;
  height: 36px;
}

.auto-adjust {
  position: relative;
  height: Calc(100% - 500px);
  min-height: 145px;
}

.content {
  height: 100vh;
}