.summary__background {
  background-color: red;
  height: 100%;
  width: 100%;
}

.header__background {
  background-color: #00ace1;
  width: 100%;
  height: 40%;
  min-height: 160px;
  display: flex;
  align-content: center;
}

.bill-image {
  width: 85px;
  height: 107.4px;
  background-color: #ffffff;
  border-radius: 0%;
  margin: 32px 0 0 36px;
  position: relative;
}

.bill-detail {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
}

.bill-name {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #21343a;
  width: 190px;
  height: 30px;
  font-family: Kanit;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0 27px 0 0;
}

.bill-date {
  width: 80px;
  height: 23px;
  font-family: Kanit;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 8px 0 8px 8px;
}

.bill-user {
  display: flex;
  margin-left: 9px;
}

.bill-owner-image {
  width: 30px;
  height: 30px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-right: 8px;
  border-radius: 50%;
}

.bill-owner-name {
  width: 58px;
  height: 23px;
  font-family: Kanit;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.friend-field {
  display: flex;
  flex-direction: column;
}

.friend-bar {
  display:inline-flex;
  width: 374px;
  height: 30px;
  background-color: #21343a;
  align-items: center;
}

.friend-bar-title {
  width: 132px;
  height: 27px;
  font-family: Kanit;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 28px;
}

.friend-bar-button {
  margin-left: auto
}