@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
.box {
	display: flex;
  align-items: center;
  cursor: pointer;
	width: 80%;
  height: 30%;
  min-width: 312px;
  min-height: 99px;
  border-radius: 8.5px;
  box-shadow: 0 2.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 4px;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-right: 25px;
  padding-left: 17.5px;
}

.box_image {
	width: 2em;
  height: 2em;
  min-width: 72px;
  min-height: 72px;
  margin: auto;
  object-fit: contain;
  border-radius: 4px;
  border: 1px solid #e5e5ea;
	margin-right: 8.8px;
	margin-top: 4.5px;
	margin-bottom: 9px;
	border-radius: 50%;
}

.box_info {
	margin:auto;
}

.bill-name {
  font-family: Kanit;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  /* line-height: 1.5; */
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  margin: 4px 0;
}

.bill-detail {
  font-family: Kanit;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  /* line-height: 1.5; */
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}