@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
.Profile-page {
	background-image: radial-gradient(circle at 49% 0, #00c4e0, #00ace1, 74%, #3b98df);
  color:darkcyan;
  height: 100%;
  min-height: 100vh;
}

.Profile-page_container {
  height: 100%;
  min-height: 100vh;
	margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Profile-card_container {
	position: relative;
  width: 187.5px;
  height: 304.5px;
  background-color: #f8f8f8;
  padding: 0 16px;
  border-radius: 10px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 16px 28px 8px rgba(0, 0, 0, 0.14);
}

.title {
	width: 106.5px;
	height: 40.5px;
  font-family: Kanit;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
	text-align: center;
	margin-bottom: 3.5px;
  color:#ffffff;
  position: absolute;
  top: 0px;
  left: 6.5px;
  
	
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: rgba(33, 52, 58, 0.6);
}
.h1 {
    color: brown;
}