.text-field__input {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0,0,0,0.87);
  border: none;
  margin: 2px;
  border-radius: 8px;
  font-family: 'Kanit', sans-serif;
  padding: 1px 16px 1px 16px;
  box-sizing: border-box;
}

.text-field__input.shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.text-field__input:focus {
  outline: none;
}

.text-field__input::placeholder {
  opacity:1;
  color:rgba(0,0,0,0.38);
  transition:color 0.18s cubic-bezier(0.4,0,0.2,1);
}

.text-field__input:focus::placeholder {
  color:rgba(0,0,0,0.54);
}
